<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rice Price and Demand Forecast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rice Price and Demand Forecast System</h1>
        <form id="forecastForm">
            <label for="riceConsumption">Domestic consumption of rice in Singapore (1000 MT):</label>
            <input type="number" id="riceConsumption" name="riceConsumption" min="0" step="1" required>

            <label for="numCitizens">Number of Singaporean citizens:</label>
            <input type="number" id="numCitizens" name="numCitizens" min="0" step="1" required>

            <label for="medianAgeCitizen">Median age of the citizen population:</label>
            <input type="number" id="medianAgeCitizen" name="medianAgeCitizen" min="0" step="1" required>

            <label for="medianAgeResident">Median age of the resident population:</label>
            <input type="number" id="medianAgeResident" name="medianAgeResident" min="0" step="1" required>

            <label for="ratio65OverCitizen">Ratio of citizens aged 65 years and over per hundred citizens aged 20-64 years:</label>
            <input type="number" id="ratio65OverCitizen" name="ratio65OverCitizen" min="0" step="1" required>

            <label for="ratio65OverResident">Ratio of citizens aged 65 years and over per hundred citizens aged 15-64 years:</label>
            <input type="number" id="ratio65OverResident" name="ratio65OverResident" min="0" step="1" required>

            <label for="numResidents">Number of residents of Singapore:</label>
            <input type="number" id="numResidents" name="numResidents" min="0" step="1" required>

            <label for="gdpPerCapita">Gross Domestic Product per capita:</label>
            <input type="number" id="gdpPerCapita" name="gdpPerCapita" min="0" step="1" required>

            <label for="gniPerCapita">Gross National Income per capita:</label>
            <input type="number" id="gniPerCapita" name="gniPerCapita" min="0" step="1" required>

            <label for="gdpPerCapitaUSD">Gross Domestic Product per capita in US dollars:</label>
            <input type="number" id="gdpPerCapitaUSD" name="gdpPerCapitaUSD" min="0" step="1" required>

            <label for="gniPerCapitaUSD">Gross National Income per capita in US dollars:</label>
            <input type="number" id="gniPerCapitaUSD" name="gniPerCapitaUSD" min="0" step="1" required>

            <label for="totalPopulation">Total population in Singapore:</label>
            <input type="number" id="totalPopulation" name="totalPopulation" min="0" step="1" required>

            <label for="populationDensity">Population density in Singapore (per sq. km):</label>
            <input type="number" id="populationDensity" name="populationDensity" min="0" step="1" required>

            <label for="numNonResidents">Number of non-residents in Singapore:</label>
            <input type="number" id="numNonResidents" name="numNonResidents" min="0" step="1" required>

            <input type="submit" value="Forecast">
        </form>
        <div id="forecastResult" style="display: none;">
            <h2>Demand</h2>
<!--            <p>Predicted Rice Demand: <span id="demand"></span> kg</p>-->
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
